.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2= @teacher.full_name
    =link_to edit_teacher_path(@teacher) do
      %button.btn.btn-outline.btn-warning Actualizare date

    %button.btn.btn-outline.btn-danger#delete Șterge înregistrarea
    =button_to "", @teacher, method: :delete, id: :delete_path, hidden: ''

.wrapper.wrapper-content.animated.fadeInRight
  -if @groups
    .row
      .col-lg-12
        .alert.alert-danger
          Acest profesor este diriginte. Pentru a putea șterge înregistrarea, trebuie să schimbați dirigintele la următoarele clase:
          -@groups.each do |group|
            %p
              Clasa
              =link_to group.display, group_path(group), :class => 'alert-link'

  .row
    .col-lg-8
      .ibox.float-e-margins
        .ibox-content

          %table.table.table-striped
            %thead
              %tr
                %th Nume
                %th Prenume
                %th Data nașterii
                %th Discipline
                %th Telefon
            %tbody
              %tr
                %td= @teacher.last_name
                %td= @teacher.first_name
                %td= @teacher.birthday
                %td= @teacher.show_subjects
                %td= @teacher.phone

:javascript
  $('#delete').click(function () {
    swal({
      title: "Sunteți sigur?",
      text: "Datele nu vor mai putea fi restabilite!",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Șterge înregistrarea",
      cancelButtonText: "Anulare",
      closeOnConfirm: true,
      closeOnCancel: true },
      function (isConfirm) {
          if (isConfirm)
              $('#delete_path')[0].click()
      });
  });
